.bookNow{
    background-color: rgb(112, 112, 240);
    width:200px;
    height:40px;
    color:rgb(252, 248, 248);
    box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 8px;
    
}

.history_image{
    width:400px;
    margin-top:20px;
    
}

.history_card{
    box-shadow: rgba(246, 8, 8, 0.24) 5px 3px 8px;

}

.history_heading{
    width:100%;
    margin:40px 0 40px 0;
    text-align: center;
}

.cancelBtn{
    position: absolute;
    top:2%;
    right:2%;
}

.Bookpage{
    text-align:center;
    color:rgb(42, 156, 208);
}

.miniature{
 padding-top: 100px;
 padding-left: 10px;
 
}
.guestDetails{
    margin-top:50px;
}

.containerr {
    background-color: lightgray;
  }
  .containe {
    background-color: gray;
  }
