/* Sidebar Styles */
.container {
  display: flex;
}

.sidebar {
  background: #290D7E;
  color: yellow;
  padding-top: 0%;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 300px;
}

.sidebar ul li button:hover,
.sidebar ul li button:focus,
.sidebar ul li button:active {
  background-color: yellow;
  color: #290D7E;
}

.sidebar {
  font-size: 24px;
}

.sidebar h4 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  font-style: oblique;
}

.sidebar ul li {
  border-bottom: 1px solid whitesmoke;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.sidebar ul li button:hover,
.sidebar ul li button:focus {
  background-color: yellow;
  color: #290D7E;
}
.sidebar ul {
  list-style-type: none; /* Remove bullets from the list */
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* Card Styles */
.card {
  margin-top: 20px;
  margin-left: 220px;
  font-size: 28px;
}

.card-body {
  padding: 20px;
}

.card-body h6 {
  font-size: 24px;
  margin-bottom: 0;
}

.card-body hr {
  margin: 10px 0;
}

.cardButton {
  font-size: 30px;
  background-color: #290d7e;
  border-color: #290d7e;
  color: yellow;
}

/* Button Styles */
.btn-primary {
  margin-bottom: 20px;
  font-size: 36px;
}

/* Additional Styles */
.text-secondary {
  color: #888;
}

.btn-info {
  margin-top: 20px;
}
